<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="shortcut icon" href="../public/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <title>FitFood | Cronograma</title>
</head>
<body>
    
    <header class="header">
        <div class="logo">
            <img src="../public/img/logo.jpg" alt="Logo FitFood">
        </div>
        <nav class="navbar">
            <a href="../views/home.html">Home</a>
            <a href="../views/cronograma.html">Cronograma</a>
            <a href="../views/perfil.html">Perfil</a>
        </nav>
    </header>

    <div class="title">
        <h3 class="title">Cronograma</h3>
    </div>

    <div class="content">
        <div class="cronograma">
            <div class="cafeDaManha">
                <p class="refeicoes">
                Café da Manhã
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
            <hr>
            <div class="cafeDaManha">
                <p class="refeicoes">
                Colação
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
            <hr>
            <div class="cafeDaManha">
                <p class="refeicoes">
                Almoiço
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
            <hr>
            <div class="cafeDaManha">
                <p class="refeicoes">
                Lanche da Tarde
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
            <hr>
            <div class="cafeDaManha">
                <p class="refeicoes">
                Jantar
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
            <hr>
            <div class="cafeDaManha">
                <p class="refeicoes">
                Ceia
                </p>
                <!-- botáo de op;oes que redireciona pra pagina home -->
                <a href="../views/home.html" class="btn btn-primary" id="verReceita">Ver Receitas</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2025 FitFood. Todos os direitos reservados.</p>
    </footer>
</body>
</html>