<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <title>FitFood | Cadastro</title>
</head>
<body id="cadastro">
    <div class="cadastroBox">
        <h1 class="cadastroTitle">Cadastro | Paciente</h1>
        <form action="#" method="POST">
            <div class="row">
                <div class="col">
                    <div class="textbox">
                        <input type="text" placeholder="Nome" name="pacientes_nome" required>
                    </div>
                    <div class="textbox">
                        <input type="date" placeholder="Data de Nascimento" name="pacientes_dt_nasc" required>
                    </div>
                    <div class="textbox">
                        <input type="number" placeholder="Altura" name="pacientes_altura" required>
                    </div>
                </div>
                <div class="col">
                    <div class="textbox">
                        <input type="number" placeholder="Peso" name="pacientes_peso" required>
                    </div>
                    <div class="textbox">
                        <input type="email" placeholder="Email" name="pacientes_email" required>
                    </div>
                    <div class="textbox">
                        <input type="password" placeholder="Senha" name="pacientes_senha" required>
                    </div>
                </div>
            </div>
            <!-- Campo de chave de acesso gerado automaticamente -->
            <div class="textbox">
                <input type="text" placeholder="Chave de Acesso" name="chave_acesso" value="{{ chave_acesso }}" readonly>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
        <br>
    </div>
</body>
</html>