<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="shortcut icon" href="../public/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <title>FitFood | Home</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../public/img/logo.jpg" alt="Logo FitFood">
        </div>
        <nav class="navbar">
            <a href="../views/home.html">Home</a>
            <a href="../views/cronograma.html">Cronograma</a>
            <a href="../views/perfil.html">Perfil</a>
            <a href="../views/cadUser.html">Cadastrar Usuário</a>
        </nav>
    </header>

    <div class="content">
        <h1 class="title">
            <b>
                <i>Receitas Favoritas</i>
            </b>
        </h1>

        <div class="cardReceita">


            <!-- Teste 01 -->
            <div class="card">
                <div class="card-body">
                    <img src="../public/img/receita1.jpg" alt="Receita 1" class="card-img">
                    <div class="text">
                        <h5 class="card-title">Título</h5>
                    <p class="card-text">Descrição</p>
                    </div>
                    <a href="../views/receita.html" class="btn btn-primary">Ver Receita</a>
                    </button>
                </div>
            </div>

            <!-- Teste 02 -->
            <div class="card">
                <div class="card-body">
                    <img src="../public/img/receita1.jpg" alt="Receita 1" class="card-img">
                    <div class="text">
                        <h5 class="card-title">Título</h5>
                    <p class="card-text">Descrição</p>
                    </div>
                    <a href="../views/receita.html" class="btn btn-primary">Ver Receita</a>
                    </button>
                </div>
            </div>


            <!-- Teste 03 -->
            <div class="card">
                <div class="card-body">
                    <img src="../public/img/receita1.jpg" alt="Receita 1" class="card-img">
                    <div class="text">
                        <h5 class="card-title">Título</h5>
                    <p class="card-text">Descrição</p>
                    </div>
                    <a href="../views/receita.html" class="btn btn-primary">Ver Receita</a>
                    </button>
                </div>
            </div>


            <!-- Teste 04 -->
            <div class="card">
                <div class="card-body">
                    <img src="../public/img/receita1.jpg" alt="Receita 1" class="card-img">
                    <div class="text">
                        <h5 class="card-title">Título</h5>
                    <p class="card-text">Descrição</p>
                    </div>
                    <a href="../views/receita.html" class="btn btn-primary">Ver Receita</a>
                    </button>
                </div>
            </div>

            <!-- Teste 05 -->
            <div class="card">
                <div class="card-body">
                    <img src="../public/img/receita1.jpg" alt="Receita 1" class="card-img">
                    <div class="text">
                        <h5 class="card-title">Título</h5>
                    <p class="card-text">Descrição</p>
                    </div>
                    <a href="../views/receita.html" class="btn btn-primary">Ver Receita</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; 2025 FitFood. Todos os direitos reservados.</p>
    </footer>
</body>
</html>